<template>
  <b-container>
    <b-nav class="mt-5 mx-auto">
      <div class="input-field w-100">
        <i class="bi bi-search"></i>
        <b-form-input
          class="border-danger py-3 px-5"
          placeholder="Search all of npm"
          v-model.trim="search"
          @keyup="debounceInput"
        ></b-form-input>
      </div>
    </b-nav>
    <div v-if="loading" class="mt-5 text-center">
      <b-spinner variant="primary"></b-spinner>
    </div>
    <template v-else>
      <b-card
        v-for="(list, idx) in listPage"
        :key="list.package.date"
        class="mt-4"
        @click="$bvModal.show(`bv-modal-${idx}`)"
      >
        <b-card-body>
          <b-card-title class="d-flex align-items-center">
            {{list.package.name}}
            <span class="mx-2 fs-6 border py-1 px-3 text-muted rounded">{{list.package.version}}</span>
          </b-card-title>
          <b-card-sub-title>{{list.package.description}}</b-card-sub-title>
        </b-card-body>
        <template #footer>
          <div class="name">{{list.package.author?.name}}</div>
          <a v-if="list.package.links?.repository"
            class="card-link mx-2"
            :href="list.package.links.repository"
          >repository github</a>
        </template>

        <modal
          :list="list"
          :idx="idx"
        />
      </b-card>
    </template>
    <b-pagination
      v-if="listPage?.length && !loading"
      v-model="currentPage"
      :total-rows="lists.objects.length"
      :per-page="perPage"
      aria-controls="my-table"
      class="mt-5"
      @page-click="changePage"
    ></b-pagination>
  </b-container>
</template>

<script>
import { ref, computed, onMounted, watch } from 'vue'
import { useStore } from 'vuex'
import { useRouter, useRoute } from 'vue-router'
import { debounce } from 'throttle-debounce'
import Modal from '@/components/Modal'

export default {
  name: 'Home',
  setup () {
    const store = useStore()
    const router = useRouter()
    const route = useRoute()
    const search = ref(route.query.search ? route.query.search : '')
    const loading = ref(false)
    const currentPage = ref(route.query.page ? +route.query.page : 1)
    const perPage = ref(10)

    const lists = computed(() => store.getters['search/lists'])
    const listPage = computed(() => search.value.length <= 1
      ? []
      : lists.value.objects?.slice((currentPage.value - 1) * perPage.value, currentPage.value * perPage.value)
    )

    const changePage = () => {
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      })
    }

    const _setPage = () => router.replace({ query: { search: search.value, page: currentPage.value } })

    watch(currentPage, _setPage)

    watch(search, () => {
      if (search.value.length <= 1) {
        router.replace({ query: '' })
      }
    })

    onMounted(async () => {
      if (search.value !== '') {
        loading.value = true
        await store.dispatch('search/load', search.value)
        loading.value = false
      }
    })

    return {
      loading,
      search,
      lists,
      listPage,
      debounceInput: debounce(500, async () => {
        if (search.value.length > 1 && search.value !== '') {
          loading.value = true
          await store.dispatch('search/load', search.value)
          router.replace({ query: { search: search.value, page: currentPage.value } })
          loading.value = false
        }
      }),
      currentPage,
      perPage,
      changePage
    }
  },
  components: {
    Modal
  }
}
</script>
