<template>
  <b-modal :id="`bv-modal-${idx}`" hide-footer>
    <b-card>
      <b-card-body>
        <b-card-title class="d-flex align-items-center">
          {{list.package.name}}
          <span class="mx-2 fs-6 border py-1 px-3 text-muted rounded">{{list.package.version}}</span>
        </b-card-title>
        <b-card-sub-title>{{list.package.description}}</b-card-sub-title>
        <div class="footer d-flex">
          <div class="name" v-if="list.package.author?.name">{{list.package.author?.name}}</div>
          <a :href="`mailto:${list.package.author?.email}`" class="email mx-2" v-if="list.package.author?.email">{{list.package.author?.email}}</a>
          <a v-if="list.package.links?.npm"
            class="card-link mx-2"
            :href="list.package.links.npm"
          >Npm</a>
          <a v-if="list.package.links?.repository"
            class="card-link mx-2"
            :href="list.package.links.repository"
          >Github</a>
        </div>
      </b-card-body>
    </b-card>
  </b-modal>
</template>

<script>
export default {
  props: {
    list: {
      type: Object
    },
    idx: {
      type: Number
    }
  }
}
</script>
