.input-field {
    position: relative;
    .bi-search {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        &::before {
            font-weight: 600 !important;
        }
    }
}

#app {
    .card {
        cursor: pointer;
        &:hover {
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
        }
        &-footer {
            display: flex;
            align-items: center;
        }
    }
}