// Typography
$font-nunito: "Nunito", sans-serif;

// Colors
$primary: #1ab394;
$success: #1c84c6;
$info: #23c6c8;
$warning: #f8ac59;
$danger: #ed5565;
$dark: #000000;

$secondary: #6c757d;
$gray: #888888;
$white: #ffffff;
